.fullscreen {
	position:absolute; top:0; left:0; display: block;
	padding: 0; border: 0; margin: 0; overflow: hidden;
	width:100%; height:100%;
	background-color: black; color: white;
}
.canvas {
	position:absolute; top:0; left:0; display: block;
	padding: 0; border: 0; margin: 0; overflow: hidden;
	height:100%; width: auto;
	background-color: green;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#reinicio{
	position: absolute;
	top:50%;
	z-index: 1;
	font-size: 40px;
	border: 5px solid #008000;
    background-color: #c7c7c7;
    color: black;
	/*display: none;*/
}
#reinicio:hover{
	background-color: #8e8c8c;
}

@media screen and (max-width: 450px){
	.canvas{
		width: 100%;
	}
}